.index-page {
    width: 80%;
    min-width: 1300px;
           
}

th {
   max-width: 125px;
}
td {
   max-width: 125px;
   margin: auto;
}
.row-name {
min-width: 150px;
}
.docs {
    display: none;
}

.docs_none {
    display: block;
}
.month {
    display: none;
}
.month_none {
    display: block;
    min-width: 50px;
    max-width: 140px;
    margin-left: 5px;
}
.kkm {
    display: flex;
    flex-direction: row;
}
.restore-content {
    width: 100%;
    max-width: 1476px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}
.info-panel {
    width:40%;
    margin-right:10px;
    display: flex;
    flex-direction:column;
}
.document-panel {
    width: 100%
}
.restore {
    padding: 10px 10px;
}
.summary {
   display: none;
}

.summary_none {
    display: block;
}
.input-calc {
    min-width: 280px;
    padding-left: 5px;
    border-radius: 8px;
    border-width: 1px;
    border-color: #A9A9A9;
}
.input-calc-half {
    min-width: 50px;
    max-width: 50px;
    padding-left: 5px;
    border-radius: 8px;
    border-width: 1px;
    border-color: #A9A9A9;
}
.restore label {
    min-width: 130px;
    max-width: 130px;
    margin-right: 5px;
    text-align:left;
}
.option_display {
    display: none;
}
.restore select {
    min-width: 280px;
    border-radius: 8px;
}
#half {
    min-width:159px;
    max-width: 159px;
    border-radius: 8px;
}
#half-label {
    min-width: 50px;
    max-width: 75px;
    margin-left: 5px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-table {   
    max-width: 113px;
}
